<ion-view class="itemView" view-title="{{item.title}}" ng-style="{ 'background-color': item.color }">
  <ion-content class="center-content animated slideInUp">
    <i class="icon {{item.icon}}" style="font-size:22em;color:white;"></i>
    <!-- <i class="date {{item.bgImg}}" style="font-size:12em;color:black;"></i> -->
    <!-- <button class="date {{item.datePicker}}" style="font-size:12em;color:black;"></button> -->
  </ion-content>
  <ion-content class="center-content animated slideInDown">
    <ion-badge class="item-date-countdown" badge-font-size="3rem" color="secondary">{{ item.dateCountdown }}</ion-badge>
    <ion-badge class="item-date-view">{{ item.date }}</ion-badge>
    <!-- <p class="bold">{{ item.date }}</p> -->
    <button class="button button-block button-light" style="font-size:2em;color:black;" ui-sref="item.setReleaseDate">Set Release Date</button>
  </ion-content>
</ion-view>
